body {
    font-size: 20px;
    line-height: 1.7;
    color: #292929;
	font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

.author-image img {
  max-width: 100%;
}

@media(max-width: 551.98px) {
  body {
    font-size: 18px;
	line-height: 1.6;
  }
  
  .author-image img {
	max-width: 40%;
  }
}

.page-header {
    border-bottom: 1px solid #b5b5b5;
}

.post-separator {
    border-bottom: 1px solid #b5b5b5;
}

.header-icons {
    color: #021d38;
    font-size: 30px;
    margin-right: 15px;
}

a:hover, a:focus {
    color: #144666;
    text-decoration: none;
}

a {
    color: #0355a3;
}

.navbar-default .navbar-nav>li>a {
    color: #333;
}

.article-preview-row {
    margin-bottom: 25px;
}

.article-preview-box {
    border: 2px solid #428bca;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.author-thumbnail {
    position: relative;
}

.author-thumbnail img {
    position: absolute;
    right: 15px;
    top: 15px;
    max-width: 60%;
}

h1 {
    font-size: 2.3125em;
}

h2 {
    font-size: 1.6875em;
	margin-top: 1.5em;
}
h3 {
    font-size: 1.4em;
	margin-top: 1.5em;
}
#toc .sectlevel1 {
    margin-left: 1em;
    padding-left: 1em;
}
#toc .sectlevel2,#toc .sectlevel3,#toc .sectlevel4 {
    margin-left: 1em;
    padding-left: 1em;
}
ul {
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
    padding-left: 1em;
}

.paragraph {
  margin-top: 0em;
  margin-bottom: 1em;
}	
