body {
    font-size: 20px;
    line-height: 1.628571;
    color: #292929;
}

.page-header {
    border-bottom: 1px solid #b5b5b5;
}

.post-separator {
    border-bottom: 1px solid #b5b5b5;
}

.header-icons {
    color: #021d38;
    font-size: 30px;
    margin-right: 15px;
}

a:hover, a:focus {
    color: #144666;
    text-decoration: none;
}

a {
    color: #0355a3;
}

.navbar-default .navbar-nav>li>a {
    color: #333;
}

.article-preview-row {
    margin-bottom: 25px;
}

.article-preview-box {
    border: 2px solid #428bca;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}